.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: rgb(26, 66, 94);
}

.subtitle {
  margin: 0;
  padding: 0 0.5rem;
  color: #666;
}
