.cardsContainer {
  min-height: 50vh;
}

.card {
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columnRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: rgb(26, 66, 94);
}

.subtitle {
  margin: 0;
  padding: 0 0.5rem;
  color: #666;
}
