/* OrderForm.css */
.FormContainer {
  margin: 0 auto;
  padding: 20px;
}

.FormGroup {
  margin-bottom: 20px;
  padding: 0 10px;
}

.FormGroupRow {
  display: flex;
  justify-content: space-between;
}

.Label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.InputField,
.SelectField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.SelectField {
  cursor: pointer;
}

.ErrorMessage {
  color: red;
  font-size: 0.8rem;
}

.RadioButtonGroup {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.RadioButtonLabel {
  margin-left: 0.5rem;
}

.RadioButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckboxContainer {
  display: flex;
  align-items: center;
}

.CheckboxLabel {
  margin: 0 0 0 1rem;
  display: flex;
}

.SubmitButton {
  position: relative;
  left: 35%;
  background-color: rgb(40, 204, 40);
  color: white;
  font-size: 1rem;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: rgb(29, 143, 29);
}
