.wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    width: 90%;
  }
}
