.motoContainer {
  display: flex;
  align-items: center;
}
.titleBlue {
  color: #0d47a1;
  margin-left: 5px;
  font-style: italic;
}

.titleGrey {
  color: #8390a3;
  margin: 0;
  font-style: italic;
}

.motoContainer h2 {
  margin-right: 10px;
  font-size: 1.1rem;
}

h3 {
  font-weight: normal;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

h2 {
  font-size: 1.2rem;
}

.Image {
  display: flex;
  justify-content: center;
}

.Image img {
  border-radius: 50%;
  animation: rotateAnimation 60s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 810px) {
  h2 {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 14px;
  }
  .motoContainer {
    flex-direction: column;
  }

  .motoContainer img {
    width: 60px;
    height: 60px;
  }

  .Image {
    justify-content: center;
  }

  .Image img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 475px) {
  .Image img {
    width: 200px;
    height: 200px;
  }
}
