.motoContainer {
  display: flex;
  align-items: center;
}
.titleBlue {
  color: #0d47a1;
  margin-left: 5px;
  font-style: italic;
}

.titleGrey {
  color: #8390a3;
  margin: 0;
  font-style: italic;
}

.motoContainer h2 {
  margin-right: 10px;
}

h3 {
  font-weight: normal;
  margin: 0.5rem 0;
  font-size: 16px;
}

.Image {
  display: flex;
  justify-content: center;
}
