.volonteerList {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
}

.volonteerContainer {
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.5rem 0.5rem;
  width: 240px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
}

.title {
  color: rgb(26, 66, 94);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h3 {
  margin: 1rem 0 0 0;
}

.title span {
  font-size: 14px;
  font-weight: normal;
}

.jobs {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: gray;
}

.jobs p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.adminButtons {
  display: flex;
  justify-content: space-between;
}
