.cardContainer {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px 5px 5px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.activityName {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(26, 66, 94);
}

.dateTime {
  font-size: 14px;
  color: #666;
}
