.FormContainer {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormGroup {
  margin-bottom: 20px;
  padding: 0 10px;
}

.FormGroupRow {
  display: flex;
  justify-content: space-between;
}

.Label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.InputField,
.SelectField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.SelectField {
  cursor: pointer;
}

.ErrorMessage {
  color: red;
  font-size: 0.8rem;
}

.RadioButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.RadioButtonLabel {
  margin-left: 0.5rem;
  cursor: pointer;
}

.RadioButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubmitButton {
  background-color: rgb(40, 204, 40);
  color: white;
  font-size: 1rem;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: rgb(29, 143, 29);
}

@media screen and (max-width: 375px) {
  .FormGroupRow {
    flex-direction: column;
    align-items: flex-start;
  }
}
