.Footer {
  margin-top: 4rem;
  background-color: #909fb4;
  padding: 1rem 0;
  color: white;
}

.Footer div {
  font-size: 0.8rem;
}

@media screen and (max-width: 810px) {
  .Footer {
    font-size: 12px;
  }
}
