.detailsContainer {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.detailsContainer h3 {
  font-size: 24px;
  padding: 0;
  margin: 0.5rem 0 0 0;
  color: rgb(26, 66, 94);
}

.date,
.description {
  color: gray;
}
.description {
  text-align: justify;
}

.association {
  color: rgb(26, 66, 94);
}

.detailsContainer p {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.detailsContainer span {
  margin-left: 5px;
  color: gray;
}

.left {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.detailsContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.detailsContainer li {
  font-size: 14px;
  margin-left: 20px;
  color: gray;
  display: flex;
  align-items: center;
}

.participants {
  padding-top: 10px;
  color: rgb(26, 66, 94);
}

.participantsContainer {
  display: flex;
  justify-content: space-between;
}

.FormContainer {
  margin: 0 auto;
  padding: 10px;
  font-size: 13px;
}

.FormGroup {
  margin-bottom: 10px;
  padding: 0 10px;
}

.FormGroupRow {
  display: flex;
  justify-content: space-between;
}

.Label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.InputField,
.SelectField {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.SelectField {
  cursor: pointer;
}

.ErrorMessage {
  color: red;
  font-size: 0.8rem;
}
